<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sistem Control</title>
</head>
<body>
<div class="container">
  <h1>Sistem Control IoT Device</h1>
  <form method="post">
    <h2>Pompa Drip</h2>
    <button type="submit" name="status1" value="on">ON</button>
    <button type="submit" name="status1" value="off">OFF</button>

    <h2>Pompa Springkel</h2>
    <button type="submit" name="status2" value="on">ON</button>
    <button type="submit" name="status2" value="off">OFF</button>

    <h2>Keran</h2>
    
    <h3>Keran Air</h3>
    <button type="submit" name="status3" value="on">ON</button>
    <button type="submit" name="status3" value="off">OFF</button>

    <h3>Keran Peptisida</h3>
    <button type="submit" name="status4" value="on">ON</button>
    <button type="submit" name="status4" value="off">OFF</button>

    <h3>Keran Pupuk</h3>
    <button type="submit" name="status5" value="on">ON</button>
    <button type="submit" name="status5" value="off">OFF</button>

  </form>
</div>
</body>
</html>
